.highlights, .mnos
    position fixed
    size 100%
    z-index: 200
    transition: .3s transform
    transform: translateX(100%)
    overflow hidden
    pointer-events: none
    &--active
        transform: translateX(0%)
        pointer-events: all
    &__wrap
        position fixed
        size 100%
        top 0
        left 0
    &__items
        display: flex
        transition: .3s transform
        transform: translateX(0px)
    &__nav
        position fixed
        transform: rotateZ(0)
        bottom 20px
        padding 0 40px
        min-width: 100%
        left 0
        z-index: 3000
        margin-right -10px
        margin-left -10px
        justify-content: space-between
        display none
        @media (min-width: scr_md)
            display flex
        @media (min-width: 1600px)
            padding 0 70px
        @media (min-width: scr_md) and (max-height: 760px)
            display none

        .nav__item
            box-shadow: inset 0 0 0 1px alpha(white, .3)
            color alpha(white, .2)
            font-size 9px
            flex: 1
            text-align center
            margin 0 10px
            height 45px
            line-height 1
            display: flex
            align-items: center
            justify-content: center
            padding 2px 15px 0
            white-space: normal
            border-radius: 0
            @media (min-width: 1600px)
                font-size 11px
            &--active, &:hover
                box-shadow: inset 0 0 0 1px orange
                color orange
        &--dark
            .nav__item
                box-shadow: inset 0 0 0 1px alpha(black, .3)
                color alpha(black, .2)
                &--active, &:hover
                    box-shadow: inset 0 0 0 1px orange
                    color orange

.block, .highlight, .mno
    background-color orange
    size 100%
    background-size cover
    background-position center center
    background-repeat no-repeat
    display: flex !important
    overflow hidden

    position relative
    min-height: 100vh
    padding: 90px 20px
    @media (min-width: scr_sm)
        height: 100vh
        min-height: 600px
        padding: 70px 40px
    @media (min-width: 1600px)
        padding: 130px 70px 90px
    &.pp-section
        position absolute
    &__content
        flex 1
        position relative
        z-index: 30
        display flex
        flex-direction: column
        justify-content: center
        position relative
        align-items: flex-start
        min-height: min-content
    &__image
        max-width: 100%
        @media (min-width: scr_sm)
            max-width: 45%
            margin-top 30px
        @media (min-width: scr_lg)
            max-width: 50%
    &__frame

        text-align center
        @media (min-width: scr_sm)
            text-align left
            border 1px dashed #c4c5c6
            padding 15px 25px 25px
            flex-basis: 50%
    &__video
        position absolute
        top 0
        display none !important
        left 0
        size 100%
        z-index: -1
        display none
        @media (min-width: scr_md)
            display block
        video
            padding-bottom: 56.25%
            transform: translateX(-50%)
            position absolute
            top 0
            left 50%
        &:after
            position absolute
            size 100%
            z-index: 20
            content ""
            background-color alpha(black, .5)
            top 0
            left 0
    &__row
        display: flex
        flex 1
        width: 100%
        flex-wrap: wrap
        justify-content: space-between
    &__col
        flex: 1 1 100%
        @media (min-width: scr_sm)
            flex: 1 1 50%
        &:last-of-type
            @media (min-width: scr_sm)
                margin-top 0

.block
    &--home
        background-color #5d3426
        background-image url(/layout/images/bg.1.jpg)
        & ^[0]__content
            text-align center

            align-items: center
            @media (min-width: scr_sm)
                text-align left
                align-items: flex-start
        .bright
            margin-top 20px
            max-width: 100px
            @media (min-width: scr_sm)
                position absolute
                bottom 0
                left 0
                margin-bottom 0
                max-width: none
        h1

            font-family: $gotham
            font-weight 900
            text-transform uppercase
            color white
            margin 0
            letter-spacing: -1.5px

            display inline-block
            margin-bottom 20px
            font-size 40px
            @media (min-width: scr_sm)
                font-size 82px
                border-bottom 1px solid alpha(white, .5)
            @media (min-width: scr_lg)
                font-size 100px
            @media (min-width: 1600px)
                font-size 120px
        h3
            color orange
            text-transform uppercase

            font-family: $gotham
            font-weight 900
            margin-bottom 0
            margin-left 4px

            font-size 18px
            margin-bottom 5px
            @media (min-width: scr_sm)
                margin-bottom -4px
                font-size 29px
            @media (min-width: scr_lg)
                font-size 36px
            @media (min-width: 1600px)
                font-size 44px
        p

            line-height 1.2
            margin-bottom 15px
            font-size 15px
            @media (min-width: 1600px)
                font-size 24px
            br
                @media (max-width: scr_sm - 1px)
                    display none
            @media (min-width: scr_sm)
                margin-bottom 30px
                font-size 22px
            @media (min-width: scr_lg)
                font-size 24px
    &--about
        background-color orange
        background-image url(/layout/images/bg.2.jpg)
        & ^[0]__content
            @media (min-width: scr_sm)
                flex-direction: row
                align-items: center
        .text
            color black
            @media (min-width: scr_sm)
                max-width: 55%
                padding-left 40px
            @media (min-width: scr_lg)
                max-width: 45%
            p

                font-size 16px
                margin-bottom 25px
                @media (min-width: scr_sm)
                    margin-bottom 40px
                @media (min-width: scr_lg)
                    font-size 20px
    &--highlights
        background-color #0c0d0d
        background-image url(/layout/images/highlights-image.jpg)


        background-size 750px
        background-position 100% -180px
        padding-top 240px
        @media (min-width: scr_sm)
            padding-top 120px
            background-position 80% 100%
            background-size cover
        @media (min-width: scr_lg)
            background-position bottom right
        h5
            font-size 11px
            text-transform uppercase
            color orange
            letter-spacing: 5px
            margin 25px 0 20px
        p
            font-size 16px
            @media (min-width: scr_lg)
                font-size 20px
        .text
            @media (min-width: scr_sm)
                width 500px
            @media (min-width: scr_md)
                width: 560px
            @media (min-width: scr_lg)
                width: 720px
        .title
            color orange
            span
                color white
        & ^[0]__content
            justify-content: flex-start
            @media (min-width: scr_md)
                justify-content: center
    &--mno
        background-color dark_blue
        padding-bottom 0

        color black
        padding-top 0
        @media (min-width: scr_sm)
            padding-top 130px
        & ^[0]__content
            background-image: linear-gradient(to top, #dddfe2 0%, white 100%)
            box-shadow: -2.5px 1.7px 10px rgba(0, 0, 0, 0.39)

            align-items: center
            flex-flow: column
            margin-right -40px
            margin-left -40px
            padding 80px 40px 40px
            @media (min-width: scr_sm)
                padding 40px
            @media (min-width: scr_md)
                justify-content: space-between

            @media (min-width: scr_lg)
                margin 0
                border-radius: 30px 30px 0 0
                padding 85px 45px 50px
        .text
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            flex-direction: column-reverse
            @media (min-width: scr_sm)
                flex-wrap: nowrap
                flex-direction: row
                width 100%
                justify-content: space-between
        .title
            color black
            span
                color orange
        h3

            text-transform uppercase
            font-weight 900
            font-family $gotham
            font-size 20px
            @media (min-width: scr_md)
                font-size 25px
        .chip

            height: auto
            display inline-block
            width: 250px
            margin-bottom 25px
            @media (min-width: scr_sm)
                margin-bottom 0
            @media (min-width: scr_md)
                width: 340px
            @media (min-width: scr_lg)
                width: 480px
                margin-right 40px
            img
                max-width: 100%
    &--specs
        background-color white
        & ^[0]__content
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            @media (min-width: scr_md)
                flex-wrap: nowrap
        & ^[0]__image


            @media (min-width: scr_sm)
                max-height: 30vh
                max-width: 55%
            @media (min-width: scr_md)
                max-width: 40%
                max-height: none
            @media (min-width: scr_lg)
                max-width: 50%
        .text
            color black
            max-width: none
            @media (min-width: scr_sm)
                padding-left 40px
            @media (min-width: scr_md)
                max-width: calc(60% - 40px)
            @media (min-width: scr_lg)
                max-width: calc(50% - 40px)
            p
                margin-bottom 40px
                font-size 16px
                @media (min-width: scr_lg)
                    font-size 20px
        .title
            color orange


            width 100%
            @media (min-width: scr_sm)
                flex: 1
                max-width: 50%
            @media (min-width: scr_md)
                max-width: none
            &:before
                background-color orange
    &--news
        background-color cyan
        padding-top 100px
        .title
            @media (max-width: scr_sm - 1px)
                text-align center
                &:before
                    margin 0 auto 25px

            color black
            &:before
                background-color orange
        h3
            margin-top 0
            text-transform uppercase
            font-weight 900
            color orange
            font-family $gotham
            font-size 18px
            @media (min-width: scr_md)
                font-size 28px
    &--contacts
        background-color #fd9126
        flex-direction: column
        padding-bottom 0
        & ^[0]__content
            width 100%
            max-height: 180px
            align-items: center
            justify-content: flex-start

            @media (min-width: scr_sm)
                max-height: none
                padding-top 60px
                align-items: flex-end
                max-height: 180px
                justify-content: space-between
                flex-flow: row


        .title
            color black
            margin-bottom 0
            padding-bottom 0
            width auto
            @media (max-width: scr_sm - 1px)
                text-align center
                width 100%
                &:before

                    margin 0 auto 25px

        .button
            margin-bottom 10px

            margin-top 25px
            @media (min-width: scr_sm)
                margin-right auto
                margin-top 0
                margin-left 40px
            @media (min-width: scr_md)
                margin-left 60px
            @media (min-width: scr_lg)
                margin-left 100px

.slick
    &-arrow
        position absolute
        bottom 0
        z-index: 3000000

.highlight, .mno
    transition: .3s transform
    will-change: transform

    background-color black
    box-shadow: 0 0 50px alpha(black ,.2)

    overflow auto
    max-height: 100vh
    min-width: 100vw
    padding: 70px 20px
    @media (min-width: scr_sm)
        padding: 70px 40px
    @media (min-width: scr_md)
        overflow hidden
    @media (min-width: scr_lg)
        padding: 90px 40px
    @media (min-width: 1600px)
        padding: 130px 70px

    .title
        &:before
            background-color orange
        span
            color orange
    &__content
        justify-content: space-between
        margin-bottom 80px
        @media (min-width: scr_sm)
            margin-bottom 0
            padding-bottom 0
    .text, &__nav
        width: 100%
        @media (min-width: scr_sm)
            width: 60%
            max-width: 700px
        @media (min-width: scr_lg)
            width: 60%
            max-width: 700px
        @media (min-width: 1600px)
            width: 70%
            max-width: 900px
    &__nav
        z-index 10
        border-top 1px solid orange
        border-bottom 1px solid orange
        margin-top 40px
        height 40px
        display: flex
        align-items: center
        justify-content: space-between

        @media (min-width: scr_lg)
            height 50px
    &__link
        text-transform uppercase
        font-size 9px
        letter-spacing: 2px
        color white
        display flex
        align-items: center
        font-family: $gotham
        font-weight bold
        @media (min-width: scr_lg)
            font-size 11px
        &--prev
            margin-left auto
            margin-right 15px
            @media (min-width: scr_lg)
                margin-right 30px
            ^[0]:first-of-type &
                display none
            ^[0]:last-of-type &
                margin-right 0
        &--next
            ^[0]:last-of-type &
                display none
        &--next, &--prev

            span
                display none
                @media (min-width: scr_md)
                    display inline
            img
                width 14px !important
        &--back
            img
                width 24px !important
        span
            position relative

            margin 0 8px
            @media (min-width: scr_lg)
                top 2px
        &:hover
            color orange
    &__list
        padding-left 0
        list-style none
        font-family: $gotham
        li

            margin-bottom 15px
            padding-left 20px
            position relative
            font-size 18px
            @media (min-width: scr_lg)
                font-size 20px
            @media (min-width: 1600px)
                font-size 23px
            &:before
                content ""
                position absolute
                size 5px
                left 0
                top 12px
                border-radius: 50%
                background-color orange
    &__image
        align-self: center
        max-width: 75%
        max-height: 50vh
        @media (min-width: scr_sm)
            position absolute
            bottom 50%
            transform: translateX(-50%) translateY(50%)
            left calc(86.5% - 70px)
            max-width: 38vw
            max-height: 75vh
        @media (min-width: scr_md)
            bottom -10vh
            transform: translateX(-50%)
        @media (min-width: scr_lg)
            left calc(85% - 70px)
        @media (min-width: 1600px)
            left calc(85% - 100px)
            max-width: 40vw
        &--center
            @media (min-width: scr_sm)
                bottom 50%
                transform: translateY(50%) translateX(-50%)
        &--right

            @media (max-width: scr_sm - 1px)
                max-height: none
                max-width: calc(100% + 40px)
            @media (min-width: scr_sm)
                transform none
                left auto
                right 0
                bottom 0
        &--bigger
            @media (min-width: scr_sm)
                max-width: 50vw
                right 30px
                left auto
                bottom 50%
                transform: translateY(50%)
            @media (min-width: 1600px)
                max-width: 60vw
    &[data-nav='black']
        .title
            color black
    &[data-nav='black']
        & ^[0]__link
            color black
