.highlights, .mnos
    position fixed
    size 100%
    z-index: 200
    transition: .3s transform
    transform: translateX(100%)
    overflow hidden
    pointer-events: none
    .msie-11 &
        display none
    &--active
        transform: translateX(0%)
        pointer-events: all
        .msie-11 &
            display block
    &__wrap
        position fixed
        size 100%
        top 0
        left 0
    &__items
        display: flex
        transition: .3s transform
        transform: translateX(0px)
    &__nav
        position fixed
        transform: rotateZ(0)
        bottom 20px
        padding 0 40px
        min-width: 100%
        left 0
        z-index: 3000
        margin-right -10px
        margin-left -10px
        justify-content: space-between
        display none
        @media (min-width: scr_md)
            display flex
        @media (min-width: scr_hd)
            padding 0 70px
        @media (min-width: scr_md) and (max-height: 780px)
            display none
        @media (min-width: scr_hd) and (max-height: 830px)
            display none

        .nav__item
            box-shadow: inset 0 0 0 1px alpha(white, .3)
            color alpha(white, .2)
            font-size 9px
            flex: 1
            text-align center
            margin 0 10px
            height 45px
            line-height 1
            display: flex
            align-items: center
            justify-content: center
            padding 2px 15px 0
            white-space: normal
            border-radius: 0
            @media (min-width: scr_hd)
                font-size 11px
            &--active, &:hover
                box-shadow: inset 0 0 0 1px orange
                color orange
        &--dark
            .nav__item
                box-shadow: inset 0 0 0 1px alpha(black, .3)
                color alpha(black, .2)
                &--active, &:hover
                    box-shadow: inset 0 0 0 1px orange
                    color orange

.block, .highlight, .mno
    background-color orange
    size 100%
    background-size cover
    background-position center center
    background-repeat no-repeat
    display: flex !important

    overflow hidden

    position relative
    min-height: 100vh
    padding: 90px 20px
    @media (min-width: scr_sm)
        height: 100vh
        min-height: 600px
        padding: 80px 40px 30px
    @media (min-width: scr_hd)
        padding: 130px 70px 90px
    &.pp-section
        position absolute
    &__content
        flex 1
        position relative
        z-index: 30
        display flex
        flex-direction: column
        justify-content: center
        position relative
        align-items: flex-start
        min-height: min-content

    &__image
        max-width: 100%
        @media (min-width: scr_sm)
            max-width: 45%
            margin-top 30px
        @media (min-width: scr_lg)
            max-width: 50%
    &__frame

        text-align center
        @media (min-width: scr_sm)
            text-align left
            border 1px dashed #c4c5c6
            padding 15px 25px 25px
            flex-basis: 50%
    &__video
        position absolute
        top 0
        left 0
        size 100%
        z-index: -1
        display none
        @media (min-width: scr_md)
            display block
        video
            padding-bottom: 56.25%
            transform: translateX(-50%)
            position absolute
            top 0%
            left 50%
            width: 100%
        &:after
            position absolute
            size 100%
            z-index: 20
            content ""
            background-color alpha(black, .5)
            top 0
            left 0
    &__row
        display: flex
        flex 1
        width: 100%
        flex-wrap: wrap
        justify-content: space-between
    &__col
        flex: 1 1 100%
        @media (min-width: scr_sm)
            flex: 1 1 50%
        &:last-of-type
            @media (min-width: scr_sm)
                margin-top 0

.block
    &--home
        background-color #5d3426
        background-image url(/layout/images/bg.1.jpg)
        padding: 80px 40px 90px
        @media (min-width: scr_hd)
            padding: 80px 60px 90px
        & ^[0]__content
            text-align center

            align-items: center
            @media (min-width: scr_sm)
                text-align left
                align-items: flex-start

        .bright
            margin-top 20px
            max-width: 100px
            @media (min-width: scr_sm)
                position absolute
                left 0
                margin-bottom 0
                max-width: none
        .customers, .bright
            @media (min-width: scr_sm)
                bottom -50px
        h1

            font-family: $gotham
            font-weight 900
            text-transform uppercase
            color white
            margin 0
            letter-spacing: -1.5px

            display inline-block
            margin-bottom 20px
            font-size 40px
            span
                color orange


            @media (min-width: scr_sm)
                font-size 82px
                border-bottom 1px solid alpha(white, .5)

            @media (min-width: scr_lg)
                font-size 100px
            @media (min-width: scr_hd)
                font-size 120px

        h3
            color orange
            text-transform uppercase

            font-family: $gotham
            font-weight 900
            margin-bottom 0
            margin-left 4px

            font-size 16px
            margin-bottom 5px
            @media (min-width: scr_sm)
                margin-bottom -4px
                font-size 22px
            @media (min-width: scr_lg)
                font-size 27px
            @media (min-width: scr_hd)
                font-size 32px
        p

            line-height 1.2
            margin-bottom 15px
            font-size 15px
            @media (min-width: scr_hd)
                font-size 24px
            br
                @media (max-width: scr_sm - 1px)
                    display none
            @media (min-width: scr_sm)
                margin-bottom 30px
                font-size 22px
            @media (min-width: scr_lg)
                font-size 24px
        .page--get &
            background-image url(/layout/images/bg.get.jpg)
            @media (max-width: scr_sm - 1px)
                padding: 80px 20px 90px
            & ^[0]__content
                @media (max-width: scr_sm - 1px)
                    align-items: flex-start
            &:after
                content ""
                position absolute
                bottom 0
                left 0
                width: 100%

                background-color orange
                @media (max-width: scr_sm - 1px)
                    height: 70px
                @media (min-width: scr_sm)
                    height: 100px
                @media (min-width: scr_lg)
                    height: 130px
            .customers, .bright
                @media (max-width: scr_sm - 1px)
                    position absolute
                    left 0px
                    bottom -70px
                @media (min-width: scr_sm)
                    bottom -63px
                @media (min-width: scr_md)
                    bottom -65px
                @media (min-width: scr_lg)
                    bottom -50px
            h1
                margin-bottom 30px
                line-height .9
                text-align left
                font-size 32px
                @media (min-width: scr_sm)
                    border 0
                    font-size 55px
                @media (min-width: scr_md)
                    font-size 70px
                @media (min-width: scr_lg)
                    font-size 80px
                @media (min-width: scr_hd)
                    font-size 105px

            .highlight__image
                top auto
                @media (max-width: scr_sm - 1px)
                    bottom -80px
                    position absolute
                    max-width: 57%
                    right: -10px
                @media (min-width: scr_sm)
                    bottom 150px
                @media (min-width: scr_md)
                    bottom -70px
                @media (min-width: scr_lg)
                    margin-right 30px
    &--about
        background-color orange
        background-image url(/layout/images/bg.2.jpg)
        & ^[0]__content
            @media (min-width: scr_sm)
                flex-direction: row
                align-items: center
        & ^[0]__image
            @media (min-width: scr_hd)
                max-width: 40%
        .text
            color black
            @media (min-width: scr_sm)
                max-width: 55%
                padding-left 40px
            @media (min-width: scr_lg)
                max-width: 45%
            @media (min-width: scr_hd)
                width: 60%
                max-width: 60%
                display: flex
                justify-content: space-between
                align-items: center

                &__content
                    flex: 3
                    padding-right 35px
                .previews
                    flex: 1
                    display: flex
                    flex-direction: column
                    justify-content: center
                    border-left 1px solid #ffc993
                    padding-left 35px
                    min-width: 161px
                    .preview
                        flex 1
                        width 100%
                        max-width: 161px
                        margin-top 0
                        & + .preview
                            margin-top 30px
            p
                font-size 16px
                margin-bottom 20px
                @media (min-width: scr_sm)
                    margin-bottom 0px
                @media (min-width: scr_lg) and (min-height: 700px)
                    font-size 20px
    &--highlights
        background-color #0c0d0d
        background-image url(/layout/images/highlights-image.jpg)


        background-size 750px
        background-position 100% -180px
        padding-top 240px
        @media (min-width: scr_sm)
            padding-top 70px
            background-position 80% 100%
            background-size cover
        @media (min-width: scr_sm) and (min-height: 750px)
            padding-top 100px
        @media (min-width: scr_lg)
            background-position bottom right
        h5

            text-transform uppercase
            color orange
            letter-spacing: 5px
            margin 25px 0 20px
            font-family $gotham
            font-size 9px
            text-align center
            @media (min-width: scr_sm)
                font-size 11px
                text-align left
        p
            font-size 16px
            @media (min-width: scr_lg) and (min-height: 750px)
                font-size 20px
        .text
            @media (min-width: scr_sm)
                width 500px
            @media (min-width: scr_md)
                width: 560px
            @media (min-width: scr_lg)
                width: 720px
        .title
            color orange
            span
                color white
        & ^[0]__content
            justify-content: flex-start
            @media (min-width: scr_md)
                justify-content: center
    &--mno
        background-color dark_blue
        padding-bottom 0

        color black
        padding-top 0
        @media (min-width: scr_sm)
            padding-top 95px
        @media (min-width: scr_sm) and (min-height: 700px)
            padding-top 120px
        & ^[0]__content
            background-image: linear-gradient(to top, #dddfe2 0%, white 100%)
            box-shadow: -2.5px 1.7px 10px rgba(0, 0, 0, 0.39)

            align-items: center
            flex-flow: column
            margin-right -40px
            margin-left -40px
            padding 80px 40px 40px
            @media (min-width: scr_sm)
                padding 40px
            @media (min-width: scr_md)
                justify-content: space-between
            @media (min-width: scr_lg)
                margin 0
                border-radius: 30px 30px 0 0
                padding 35px 45px 30px
            @media (min-width: scr_lg) and (min-height: 740px)
                padding 65px 45px 50px
        .text
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            flex-direction: column-reverse
            @media (min-width: scr_sm)
                flex-wrap: nowrap
                flex-direction: row
                width 100%
                justify-content: space-between
        .title
            color black
            span
                color orange
        h3

            text-transform uppercase
            font-weight 900
            font-family $gotham
            font-size 20px
            @media (min-width: scr_md)
                font-size 25px
        .chip

            height: auto
            display inline-block
            width: 250px
            margin-bottom 25px
            @media (min-width: scr_sm)
                margin-bottom 0
            @media (min-width: scr_md)
                width: 340px
            @media (min-width: scr_lg)
                width: 400px
            @media (min-width: scr_lg) and (min-height: 700px)
                width: 480px
                max-width: 40%
                margin-right 40px
            img
                max-width: 100%
    &--specs
        background-color white
        & ^[0]__content
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            align-self: center
            @media (min-width: scr_md)
                flex-wrap: nowrap
        & ^[0]__image
            .is-android &
                max-width: 100%
                @media (min-width: scr_sm)
                    max-width: 55%
                @media (min-width: scr_md)
                    max-width: 40%
                @media (min-width: scr_lg)
                    max-width: 50%
            @media (min-width: scr_sm)
                max-height: 30vh
                max-width: 55vw
            @media (min-width: scr_md)
                max-width: 40vw
                max-height: none
            @media (min-width: scr_lg)
                max-width: 50vw

        .text
            color black
            max-width: none
            @media (min-width: scr_sm)
                padding-left 40px
            @media (min-width: scr_md)
                max-width: calc(60% - 40px)
            @media (min-width: scr_lg)
                max-width: calc(50% - 40px)
            p
                margin-bottom 0px
                font-size 16px
                @media (min-width: scr_lg)
                    font-size 20px
        .title
            color orange


            width 100%
            @media (min-width: scr_sm)
                flex: 1
                max-width: 50%
            @media (min-width: scr_md)
                max-width: none
            &:before
                background-color orange
    &--news
        background-color cyan
        padding-top 100px
        color black
        .title
            @media (max-width: scr_sm - 1px)
                text-align center
                &:before
                    margin 0 auto 25px

            color black
            &:before
                background-color orange
        h3
            margin-top 0
            text-transform uppercase
            font-weight 900
            color orange
            font-family $gotham
            font-size 18px
            @media (min-width: scr_md)
                font-size 28px
    &--contacts
        background-color #fd9126
        flex-direction: column
        padding-bottom 0
        & ^[0]__content
            width 100%
            max-height: 180px
            min-height: 280px
            min-height: min-content
            align-items: center
            justify-content: flex-start
            @media (min-width: scr_sm)
                justify-content: space-between
                flex-flow: row
                min-height: 0
                max-height: 110px
                align-items: flex-end
                padding-top 0
            @media (min-width: scr_sm) and (min-height: 700px)
                padding-top 60px
                max-height: 180px

        & ^[0]__wrap
            width: 100%
            display: flex

            align-items: center
            padding-bottom 10px
            flex-direction: column
            @media (min-width: scr_sm)
                justify-content: space-between
                flex-direction: row;

        .title
            color black
            margin-bottom 0
            padding-bottom 0
            width auto
            @media (max-width: scr_sm - 1px)
                text-align center
                width 100%
                &:before

                    margin 0 auto 25px
        .shares
            display: flex
            align-items: center
            margin-left auto
            padding: 35px 0 30px
            justify-content: center
            flex-direction: column;
            &.visible-xs-flex
                @media (min-width: scr_sm)
                    display none
            @media (min-width: scr_sm)
                padding: 0
                flex-direction: row;

            &__title
                padding-top 0
                margin-top 0
                color white
                @media (min-width: scr_sm)
                    margin-right 20px
                &:before
                    display none
            &__link
                border-radius: 50%
                display inline-block
                overflow hidden
                line-height 0
                position relative
                margin: 10px 5px 0 5px
                @media (min-width: scr_sm)
                    margin: 0 0 0 5px
                &:after
                    content: ""
                    position absolute
                    size calc(100% - 4px)
                    left 50%
                    top 50%
                    transform: translate3d(-50%, -50%, 0)
                    border-radius: 50%
                    background-color white
                    z-index: -1
                    transition: .3s background
                svg
                    size 40px
                    path
                        fill black
                &:hover
                    &:after
                        background-color red_orange



        .button
            margin-bottom 10px

            margin-top 25px
            @media (min-width: scr_sm)
                margin-right auto
                margin-top 0
                margin-left 40px
            @media (min-width: scr_md)
                margin-left 60px
            @media (min-width: scr_lg)
                margin-left 100px
            .page--get &
                @media (min-width: scr_sm)
                    margin-left 20px
                @media (min-width: scr_md)
                    margin-left 40px
                @media (min-width: scr_lg)
                    margin-left 40px
    &--how
        background-color white
        color black
        & ^[0]__content
            align-items: center
            justify-content: center
        .title
            color black
            text-align center
            margin-bottom 10px
            @media (min-width: scr_lg)
                font-size: 45px
            @media (min-width: scr_hd)
                font-size: 60px
            &:before
                display none
            span
                color orange
        h3
            font-weight 900
            font-family: 'GothamPro'
            text-align center
            margin-top 5px
            font-size 16px
            @media (min-width: scr_md)
                font-size: 20px
            @media (min-width: scr_hd)
                font-size: 24px
    &--testimonials
        background-image url(../images/bg.testimonials.jpg)
        background-size cover
        & ^[0]__content
            align-items: center
            width: 100%
            justify-content: center
        .text
            width: 100%
        .title
            text-align center
            &:before
                display none
    &--order
        background-color #5d75aa
        background-image url(/layout/images/bg.order.jpg)
        background-size cover
        & ^[0]__content
            align-items: center
            width: 100%
            justify-content: center
        .text
            width: 100%
        .title
            text-align center
            margin-bottom 14px
            &:before
                display none
            span
                color orange
            font-size 30px
            @media (min-width: scr_sm)
                font-size 30px
            @media (min-width: scr_md)
                font-size 45px
            @media (min-width: scr_hd)
                font-size 60px
        h3, h4, h5
            width: 100%
            text-align center
            margin: 0 auto
            font-family: 'GothamPro'
            @media (min-width: scr_sm)
                padding: 0 40px
            @media (min-width: scr_md)
                max-width: 940px
            @media (min-width: scr_hd)
                max-width: 1100px
        h3
            font-weight 900
            text-transform uppercase
            font-size 16px
            @media (min-width: scr_md)
                font-size 22px
            @media (min-width: scr_hd)
                font-size 27px
        h4
            font-weight 900
            position relative
            margin-top 15px
            padding-top 20px
            margin-bottom 30px
            @media (min-width: scr_sm)
                padding-top 30px
                margin-top 25px
                margin-bottom 40px
            &:before
                content: ""
                position absolute
                background-color: #ff9102
                top 0
                left 50%
                transform: translateX(-50%)
                width: 41px
                height: 6px
                @media (min-width: scr_sm)
                    width: 69px
                    height: 7px
        h5
            font-weight 300
        h4, h5
            line-height 1.3
            font-size 14px
            @media (min-width: scr_sm)
                font-size 13px
            @media (min-width: scr_md)
                font-size 20px
            @media (min-width: scr_hd)
                font-size 24px
        .subscribe

            display block
            text-align center
            margin: 10px auto 30px
            @media (min-width: scr_sm)
                margin: 10px auto 40px
            @media (min-width: scr_hd)
                margin: 10px auto 50px
            .parsley-errors-list
                display none
            &__success
                font-family: 'GothamPro'
                font-size 240%
                font-weight 300
                color orange
                display none
            &--success
                .subscribe__success
                    display block
                .subscribe__form
                    display none
            &__email
                border 0


                width: 100%

                background-color: white
                color black
                max-width: 284px
                height: 40px
                font-size 15px
                padding: 2px 15px 0
                @media (min-width: scr_sm)
                    padding: 2px 20px 0
                    font-size 18px
                    width: 596px
                    height: 40px
                @media (min-width: scr_hd)
                    max-width: 698px
                    height: 50px
                &.parsley-error
                    box-shadow: inset 0 0 0 1px red
            &__button
                width: calc(100% - 40px)
                background-color: #ff9102

                border 0


                color white
                font-weight 900
                text-transform uppercase
                font-family 'GothamPro'
                transition: .3s background
                max-width: 183px
                height: 45px
                background-color: #ff9102
                border-radius: 23px
                font-size 18px
                padding-top 6px
                margin-top 20px
                @media (min-width: scr_sm)
                    margin-top 30px
                    max-width: 180px
                    height: 45px
                    border-radius 45px

                @media (min-width: scr_md)
                    padding-top 4px
                    font-size 24px
                    max-width: 242px
                    height: 60px
                    border-radius: 30px
                @media (min-width: scr_hd)
                    max-width: 274px
                    height: 68px
                    border-radius: 34px
                &:hover
                    background-color red_orange
.slick
    &-arrow
        position absolute
        bottom 0
        z-index: 3000000

.highlight, .mno
    transition: .3s transform
    will-change: transform
    background-color black
    box-shadow: 0 0 50px alpha(black ,.2)
    overflow auto
    max-height: 100vh
    min-width: 100vw
    padding: 70px 20px
    flex-direction: column
    @media (min-width: scr_sm)
        padding: 80px 40px 30px
    @media (min-width: scr_sm) and (min-height: 750px)
        padding: 80px 40px
        justify-content: center
    @media (min-width: scr_md)
        overflow hidden
    @media (min-width: scr_lg) and (min-height: 750px)
        padding: 90px 40px
    @media (min-width: scr_hd)
        padding: 130px 70px

    .title
        &:before
            background-color orange
        span
            color orange
    &__content
        justify-content: space-between
        margin-bottom 80px
        min-height: 950px
        min-height: min-content
        @media (min-width: scr_sm)
            min-height: 0
            min-height: min-content

            margin-bottom 0
            padding-bottom 0
        @media (min-width: scr_sm) and (max-width: scr_md - 1px)
            max-height: 600px
        p
            font-size 14px
            line-height 1.3
            @media (min-width: scr_lg) and (min-height: 750px)
                font-size 15px
            @media (min-width: scr_hd)
                font-size 17px
            margin-bottom 20px
            b
                font-weight 900
                text-transform uppercase
                font-size: 115%

        big
            font-size 17px
            font-family: $gotham
            margin-bottom 15px
            display inline-block
            width: 100%
            @media (min-width: scr_lg) and (min-height: 750px)
                font-size 20px
            @media (min-width: scr_hd)
                font-size 23px
    .text, &__nav
        width: 100%
        @media (min-width: scr_sm)
            width: 60%
            max-width: 700px
        @media (min-width: scr_lg)
            width: 60%
            max-width: 700px
        @media (min-width: scr_hd)
            width: 70%
            max-width: 900px
    &__nav
        z-index 10
        border-top 1px solid orange
        border-bottom 1px solid orange
        margin-top 40px
        height 40px
        display: flex
        align-items: center
        justify-content: space-between

        @media (min-width: scr_lg) and (min-height: 750px)
            height 50px
    &__link
        text-transform uppercase
        font-size 9px
        letter-spacing: 2px
        color white
        display flex
        align-items: center
        font-family: $gotham
        font-weight bold
        @media (min-width: scr_lg)
            font-size 11px
        &--prev
            margin-left auto
            margin-right 15px
            @media (min-width: scr_lg)
                margin-right 30px
            ^[0]:first-of-type &
                display none
            ^[0]:last-of-type &
                margin-right 0
        &--next
            ^[0]:last-of-type &
                display none
        &--next, &--prev

            span
                display none
                @media (min-width: scr_md)
                    display inline
            img
                width 14px !important
        &--back
            img
                width 24px !important
        span
            position relative

            margin 0 8px
            @media (min-width: scr_lg)
                top 2px
                .msedge-12 &, .msedge-13 &
                    top 0
        &:hover
            color orange
    &__list
        padding-left 0
        list-style none
        font-family: $gotham
        &--half
            @media (min-width: scr_md)
                display flex
                flex-wrap: wrap;
                justify-content: space-between
                li
                    flex: 1 1 50%
        li

            margin-bottom 15px
            padding-left 20px
            position relative
            font-size 18px
            @media (min-width: scr_lg) and (min-height: 750px)
                font-size 20px
            @media (min-width: scr_hd)
                font-size 23px
            &:before
                content ""
                position absolute
                size 5px
                left 0
                top 12px
                border-radius: 50%
                background-color orange
    &__image
        align-self: center
        max-width: 75%
        max-height: 50vh
        @media (min-width: scr_sm)
            position absolute
            bottom 50%
            transform: translateX(-50%) translateY(50%)
            left calc(89% - 70px)
            max-width: 38vw
            max-height: 75vh
        @media (min-width: scr_md)
            bottom -10vh
            transform: translateX(-50%)
        @media (min-width: scr_lg)
            left calc(85% - 70px)
        @media (min-width: scr_hd)
            left calc(85% - 100px)
            max-width: 40vw
        &--center
            @media (min-width: scr_sm)
                bottom 50%
                transform: translateY(50%) translateX(-50%)
        &--right
            @media (max-width: scr_sm - 1px)
                max-height: none
                max-width: calc(100% + 40px)
            @media (min-width: scr_sm)
                left auto
                right 0
                transform: translateY(50%)
            @media (min-width: scr_md)
                transform none
                bottom 0
        &--bigger
            @media (min-width: scr_sm)
                max-width: 50vw
                right 30px
                left auto
                bottom 50%
                transform: translateY(50%)
            @media (min-width: scr_hd)
                max-width: 60vw
    &[data-nav='black']
        .title, .text
            color black
        .text
            p
                color alpha(black, .7)
                big
                    color black
    &[data-nav='black']
        & ^[0]__link
            color black

.mno
    &--your-company-branding-on-device
        & ^[0]__content
            @media (max-width: scr_sm - 1px)
                min-height: 800px
                min-height: min-content
    &--increasing-your-customer-base
        & ^[0]__content
            @media (max-width: scr_sm - 1px)
                min-height: 550px
                min-height: min-content
