@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro.otf")
	src local(''), url('/layout/fonts/GothamPro.otf') format('opentype'), url('/layout/fonts/GothamPro.woff') format('woff')
	font-weight normal

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro-Medium.ttf")
	src local(''), url('/layout/fonts/GothamPro-Medium.ttf') format('truetype'), url('/layout/fonts/GothamPro-Medium.woff') format('woff')
	font-weight 500

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro-Bold.otf")
	src local(''), url('/layout/fonts/GothamPro-Bold.otf') format('opentype'), url('/layout/fonts/GothamPro-Bold.woff') format('woff')
	font-weight bold

@font-face
	font-family 'GothamPro'
	src url("/layout/fonts/GothamPro-Black.otf")
	src local(''), url('/layout/fonts/GothamPro-Black.otf') format('opentype'), url('/layout/fonts/GothamPro-Black.woff') format('woff')
	font-weight 900

$gotham = 'GothamPro'

@font-face
	font-family 'Agoda'
	src url("/layout/fonts/AgoraSansProRegular.ttf")
	src local(''), url('/layout/fonts/AgoraSansProRegular.ttf') format('truetype'), url('/layout/fonts/AgoraSansProRegular.woff') format('woff')
	font-weight normal
