.nav
    display flex
    &--modal
        visibility: hidden
        transform: translateX(100%)
        transition: .3s opacity, .3s transform, .3s box-shadow
        flex-flow: column
        justify-content: center
        padding 60px 10px 0
        align-items: flex-start
        z-index: 300
        width: 100%
        @media (min-width: scr_sm)
            padding 140px 20px
            width 340px
        .open &
            visibility: visible
            box-shadow: -20px 0 50px alpha(black, .6)
            transition-delay: .3s
            transform: translateX(0%)

        &:after, &
            position fixed
            top 0
            height 100%
            right 0
            background-color alpha(black, .8)
        &:after
            content ""
            width 100vw
            background-color alpha(black, .3)
            opacity: 0
            visibility: hidden
            transition: .3s opacity
            .open &
                transition-delay: 1s
                opacity: 1
                visibility: visible
        & ^[0]__item
            color white !important
            position relative
            z-index: 20
            margin-bottom 0px
            font-size 15px
            padding: 10px 25px 7px
            display none

            @media (min-width: scr_sm)
                font-size 18px
                margin-bottom 5px
                margin-bottom 15px
                &:last-of-type
                    margin-bottom 0
            .open &
                display block
            &--active
                box-shadow: inset 0 0 0 2px !important
    &__item
        font-size 11px
        text-transform uppercase
        font-weight 700
        font-family $gotham
        color: white
        white-space no-wrap
        padding: 9px 20px 7px
        border-radius: 30px
        @media (min-width: 1600px)
            padding: 9px 20px 7px
            font-size 14px
        &:hover
            color red_orange
        &--active
            box-shadow: inset 0 0 0 2px white
            color white
            &:hover
                color white
    &--black
        & ^[0]__item
            color black
            &--active
                box-shadow: inset 0 0 0 2px black
